* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid orangered;
}
/* start header */
header {
  height: 100px;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.557);
  background: transparent;
}
.header__container {
  height: 100%;
  width: 80%;
  background: transparent;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container a {
  /* color: white; */
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav i {
  font-size: 12px;
  padding-left: 5px;
}
header nav a {
  margin-right: 20px;
  font-size: 10px;
  transition: 0.3s;
  color: #262f5a;
}
.button button {
  height: 50px;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;

  background: linear-gradient(to right, #f55f8d, #f8ae56);
  transition: 1s;
  cursor: pointer;
}

@keyframes wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }

  33.3% {
    transform: translateY(-6px);
  }

  49.95% {
    transform: translateY(4px);
  }

  66.6% {
    transform: translateY(-2px);
  }

  83.25% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

nav a:hover {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  /* moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; */
}

.btn-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out; */
  transition: all 0.4s ease-in-out;
}
/* .btn-hover:focus {
  outline: none;
} */
.btn-hover.color-10 {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  /* box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75); */
}
.move img {
  height: 300px;
  width: 200px;
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.move {
  padding: 100px;
  animation: move2 5s infinite;
}
@keyframes move2 {
  0% {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    -webkit-transform: rotate(-1deg) translate(-2px, -2px);
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px);
  }
}

.zoomin {
  visibility: visible;
  animation-delay: 2.5s;
  animation: move2 5s infinite;
}
.zoomin img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* end header */
